<div>
    <h1>Welcome {{state.username}}!</h1>
    <h2>Create Game</h2>
    <div id="createGame">
        <label>New Game:</label>
        <input ng-model="state.newGame.name" value = '' type='text'>
        <br>
        <label>Required Players:</label>
        <input ng-model="state.newGame.rplayers" value = '' type='number'>
        <br>
        <input type='button' ng-click='createGame()' value = 'Create'>
    </div>
    <h2>Games</h2>
    <table>
        <th>
            <td>Name</td>
            <td>Created By</td>
            <td>Required Players</td>
            <td></td>
        </th>
        <tr ng-repeat="game in state.view.games">
            <td>{{game.name}}</td>
            <td>{{game.created_by}}</td>
            <td>{{game.required}}</td>
            <td>
                <input type='button' value='Join' ng-click='joinGame(game.name)'>
            </td>
        </tr>
    </table>
    <h2>Players</h2>
    <table>
        <th>
            <td>
                Name
            </td>
            <td>
                State
            </td>
        </th>
        <tr ng-repeat="player in state.view.players">
            <td>{{player.name}}</td>
            <td>{{player.state}}</td>
        </tr>
    </table>
</div>
